{% extends 'base.html' %}

{% block content %}
<main>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Number</th>
                <th>Number of receipts</th>
            </tr>
        </thead>
        <tbody>
            {% for name, number, receipt_count in account_info %}
            <tr>
                <td>{{ name }}</td>
                <td>{{ number }}</td>
                <td>{{ receipt_count }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
{% endblock %}