{% extends 'base1.html' %}

{% block content %}
<main>
    <div>
        <h1>Signup</h1>
        <form method="post">
            {% csrf_token %}
            {{ form }}
            <button type="submit">Signup</button>
        </form>
    </div>
</main>
{% endblock %}